<!--模板需放在 ion-modal-view 标签内-->
<ion-modal-view>
    <ion-header-bar class="item-input-inset positive-bg">
        <div class="buttons">
            <button class="button button-clear button-icon ion-chevron-left" ng-click="worklogFavoritePrjModal.hide()"></button>
        </div>
        <h1 class="title">选择项目</h1>
        <div class="buttons">
            <button class="button button-clear button-icon ion-android-more-horizontal" ng-click="addMoreProjects()"></button>
        </div>
    </ion-header-bar>
    <ion-content class="stable-bg has-header">
        <ion-list>
            <ion-refresher on-refresh="doRefreshFavoritePrjList()"
                           pulling-text="下拉刷新..."
                           refreshing-text="正在刷新!"
                           spinner="android">
            </ion-refresher>
            <ion-item ng-repeat="(prjId,prjName) in projectsSelfData" ng-click="chooseProjectBringBack(prjId)">
                <div>{{prjId}}&nbsp;&nbsp;&nbsp;&nbsp;{{prjName}}</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>