<!--带有左侧菜单的登录页-->
<ion-view>
    <ion-content>
        <div class="content ss-top-15">
            <div class="list ss-small-card">
                <label class="item ss-border-none">
                    <h2 class="ss-text-center">
                        <!--<i class="icon ion-social-android ss-log-i-50" ng-class="{'calm':!hasError,'assertive':hasError}"></i>-->
                        <img src="img/d-1-2.png">
                    </h2>
                </label>
                <label class="item item-input item-stacked-label">
                    <div class="input-label">用户名</div>
                    <input ng-model="loginData.username" type="text" placeholder="请输入用户名...">
                </label>
                <label class="item item-input item-stacked-label">
                    <div class="input-label">密码</div>
                    <input ng-model="loginData.password" type="password" placeholder="请输入密码..">
                </label>

                <div class="padding text-center">
                    <button class="button button-dark" ng-click="login()">登 陆</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
</ion-side-menus>
