<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.myknowledge769957" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>myknowledge</name>
    <description>
        An Ionic Framework and Cordova project.
    </description>
    <author email="sam2cooker@gmail.com" href="https://mail.google.com">
      Cookie Sam
    </author>
    <!-- 入口-->
    <content src="index.html" />
    <!-- Defines the set of external domains the app is allowed to communicate with. 允许访问的域的白名单-->
    <access origin="bdapp://map/marker" />
    <access origin="bdapp://map/direction" />
    <access origin="*" />

    <!-- android -->
    <preference name="android-minSdkVersion" value="4.2.2" />

    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <platform name="android">
        <icon density="ldpi" src="resources/android/icon/tr-mdpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/tr-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/tr-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/tr-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/tr-xhdpi-icon.png" />
        <splash density="land-ldpi" src="resources/android/splash/tr-land-mdpi-screen.png" />
        <splash density="land-mdpi" src="resources/android/splash/tr-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="resources/android/splash/tr-land-hdpi-screen.png" />
        <splash density="land-xhdpi" src="resources/android/splash/tr-land-xhdpi-screen.png" />
        <splash density="land-xxhdpi" src="resources/android/splash/tr-land-xhdpi-screen.png" />
        <splash density="port-ldpi" src="resources/android/splash/tr-port-mdpi-screen.png" />
        <splash density="port-mdpi" src="resources/android/splash/tr-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="resources/android/splash/tr-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="resources/android/splash/tr-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="resources/android/splash/tr-port-xhdpi-screen.png" />
    </platform>
    <engine name="android" spec="~5.1.1" />
</widget>
