<!--模板需放在 ion-modal-view 标签内-->
<ion-view view-title="示例">
    <!--头部-->
    <ion-nav-bar class="bar bar-header bar-dark" align-title="center"><!--头部-->
        <ion-nav-buttons side="left"><!--左边的按钮-->
            <!--打开左侧边栏-->
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <!--内容-->
    <ion-content class="stable-bg has-header">
            <div class="row responsive-sm-s">
                <div class="col" ng-click="toDifferentModule('treecontrol')">
                    <div class="item item-stable item-avatar ss-grid-1">
                        <img src="img/d-1-2.png"/>
                        <p>树形结构</p>
                    </div>
                </div>
                <div class="col" ng-click="toDifferentModule('mapview')">
                    <div class="item item-stable item-avatar ss-grid-1">
                        <img src="img/d-1-2.png"/>
                        <p>高德地图</p>
                    </div>
                </div>
                <div class="col" ng-click="toDifferentModule('geolocation')">
                    <div class="item item-stable item-avatar ss-grid-1">
                        <img src="img/d-1-2.png"/>
                        <p>定位导航</p>
                    </div>
                </div>
            </div>
            <div class="row responsive-sm-s">

            </div>
    </ion-content>
</ion-view>
