<!--模板需放在 ion-modal-view 标签内-->
<ion-view view-title="">
    <!--头部-->
    <ion-nav-bar class="bar bar-header bar-positive" align-title="center"><!--头部-->
        <ion-nav-buttons side="left"><!--左边的按钮-->
            <cs-return-btn></cs-return-btn>
        </ion-nav-buttons>
    </ion-nav-bar>
    <!--内容-->
    <ion-content>
        <div class="card">
            <div class="list">
                <div class="item item-button-right">
                    地图类型&nbsp;&nbsp;&nbsp;{{mapType}}
                    <button class="button button-positive" ng-click="selectMapType()">
                        <i class="icon ion-android-compass"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="card">
            <ion-list>
                <div class="item item-button-right">
                    当前位置信息
                    <button class="button button-positive" ng-click="getCurrentPosition()">
                        <i class="icon ion-location"></i>
                    </button>
                </div>
                <div class="item">
                    <label class="item item-input">
                        <span class="input-label">纬度:</span>
                        <input type="text" ng-model="position.coords.latitude">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">经度:</span>
                        <input type="text" ng-model="position.coords.longitude">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">地名:</span>
                        <input type="text" ng-model="position.name">
                    </label>
                </div>
            </ion-list>
        </div>

        <div class="card">
            <ion-list>
                <div class="item item-button-right">目的地信息
                    <button class="button button-positive" ng-click="navigation()">
                        <i class="icon ion-navigate"></i>
                    </button>
                </div>
                <div class="item">
                    <label class="item item-input">
                        <span class="input-label">纬度:</span>
                        <input type="text" ng-model="destination.lat">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">经度:</span>
                        <input type="text" ng-model="destination.lng">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">地名:</span>
                        <input type="text" ng-model="destination.name">
                    </label>
                </div>
            </ion-list>
        </div>

        <div class="card">
            <ion-list>
                <div class="item item-button-right">地图标记
                    <button class="button button-positive" ng-click="mapMaker()">
                        <i class="icon ion-navigate"></i>
                    </button>
                </div>
            </ion-list>
        </div>

    </ion-content>
</ion-view>
