<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cn.com.chaochuang.startapp"
        version="1.0.0">
  <name>startApp</name>
  <description>启动指定的app</description>

  <js-module name="StartActivity" src="www/StartActivity.js">
    <clobbers target="window.plugins.startApp"/>
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="StartActivity">
        <param name="android-package" value="cn.com.chaochuang.StartActivity"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" android:label="@string/activity_name" android:launchMode="singleTop" android:name="cn.com.chaochuang.OtherActivity" android:theme="@android:style/Theme.DeviceDefault.NoActionBar" android:windowSoftInputMode="adjustResize">
        <intent-filter>
          <action android:name="com.ionicframework.myknowledge769957"/>
          <category android:name="android.intent.category.DEFAULT"/>
          <data android:mimeType="text/plain"/>
        </intent-filter>
      </activity>
    </config-file>

    <source-file src="src/android/StartActivity.java" target-dir="src/cn/com/chaochuang"/>
    <source-file src="src/android/OtherActivity.java" target-dir="src/cn/com/chaochuang"/>
  </platform>

</plugin>
