@charset "UTF-8";
/*
首页 登陆注册样式
*/
/*图标大小*/
.ss-log-i-20{
    font-size: 20px;
}
.ss-log-i-30{
    font-size: 30px;
}
.ss-log-i-50{
    font-size: 50px;
}
/*列表浮动图标*/
.ss-scroll-box{
    height: 48px;
    width: 60px;
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 1000;
    text-align: center;
}

.ss-scroll-box i{
    font-size: 30px;
    color: #11A8DE;
}

.ss-form-box{
    margin-top: 20%;
}

.ss-text-center{
    text-align: center;
}

.ss-text-right{
    text-align: right;
}
.ss-action-sheet .button{
    text-align: left;
}

.ss-top-15{
    margin-top: 15%
}

.ss-text-indent{
    text-indent: 2em;
}

/*栅格额外样式*/
.ss-grid-1{
    border: none;
    max-width: 120px;
}
.ss-grid-1 p{
    white-space: normal;
}

/*首页栅格样式*/
@media (max-width: 380px) {
    .responsive-sm-s {
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
    .responsive-sm-s .col, .responsive-sm-s .col-10, .responsive-sm-s .col-20, .responsive-sm-s .col-25, .responsive-sm-s .col-33, .responsive-sm-s .col-34, .responsive-sm-s .col-50, .responsive-sm-s .col-66, .responsive-sm-s .col-67, .responsive-sm-s .col-75, .responsive-sm-s .col-80, .responsive-sm-s .col-90 {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding: 0 25px;
        margin-left: 0;
        max-width: 100%;
        width: 100%; }
    .responsive-sm-s .ss-grid-1{
        max-width: 250px;
    }
}
@media (min-width: 470px) {
    .responsive-sm-s .ss-grid-1{
        max-width: 250px;
    }
}
